/* Tailwind CSS */
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove any background on the body */
body {
  background-color: transparent; /* Make the body fully transparent */
  color: #171717; /* Text color */
  font-family: Arial, Helvetica, sans-serif;
}
